:root {
    --light-grey: #dfdfdf;
    --mid-grey: #a29c98;
    --lime: #29A829;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0 1rem;
    background-color: #023020;
    color: var(--light-grey);
}

header {
    background-color: #023020;
    text-align: center;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid var(--light-grey);
}
header > p {
    padding-bottom: 1rem;
}

main {
    max-width: 36rem;
    margin: 0 auto;
}

footer {
    text-align: center;
    border-top: 1px solid var(--light-grey);
    color: var(--mid-grey);
    padding: 1rem 0;
}

h2 {
    margin-bottom: 1rem;
}
ul {
    column-width: 15rem;
}
li {
    text-decoration: none;
    list-style: none;
}
span {
    display: block;
}
a {
    color: var(--lime);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.button {
    border: 1px solid var(--lime);
    padding: 0.5rem 1.25rem;
}
.button:hover {
    background-color: var(--lime);
    color: var(--light-grey);
    text-decoration: none;
    transition: ease .3s
}

.company {
    font-size: 1.3rem;
}
.company-title {
    font-size: 1rem;
}
.company-summary {
    font-size: 1.2rem;
}



